[submodule "third_partys/hsthrift"]
	path = third_partys/hsthrift
	url = https://github.com/facebookincubator/hsthrift
[submodule "third_partys/zstd"]
	path = third_partys/zstd
	url = https://github.com/facebook/zstd
[submodule "third_partys/wangle"]
	path = third_partys/wangle
	url = https://github.com/facebook/wangle
[submodule "third_partys/folly"]
	path = third_partys/folly
	url = https://github.com/facebook/folly
[submodule "third_partys/spider"]
	path = third_partys/spider
	url = https://github.com/elementai/spider
[submodule "third_partys/test_suite"]
	path = third_partys/test_suite
	url = https://github.com/elementai/test-suite-sql-eval
[submodule "third_partys/tokenizers"]
	path = third_partys/tokenizers
	url = https://github.com/hasktorch/tokenizers
[submodule "third_partys/fbthrift"]
	path = third_partys/fbthrift
	url = https://github.com/facebook/fbthrift
[submodule "third_partys/fmt"]
	path = third_partys/fmt
	url = https://github.com/fmtlib/fmt
[submodule "third_partys/rsocket-cpp"]
	path = third_partys/rsocket-cpp
	url = https://github.com/rsocket/rsocket-cpp
[submodule "third_partys/fizz"]
	path = third_partys/fizz
	url = https://github.com/facebookincubator/fizz
